<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <main class="container">
          <div class="grid">
              <div class="row">
                <div class="column">
                  <h1>Topics</h1>
                </div>            
                <% if(currentUser && currentUser.isAdmin()) { %>
                  <div class="column ml-auto">
                    <a href="/topics/new" class="btn btn-secondary">New Topic</a>
                  </div>
                <% } %>
              </div>
              <div class="row">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Summit topic</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% topics.forEach((topic) => { %>
                         <tr>
                          <th scope="row">
                              <a href="/topics/<%= topic.id %>" class="topic-list-link">s/<%= topic.title %> </a>
                          </th>
                          <td>
                              <span class="topic-list-desc"><%= topic.description %></span>
                          </td>
                        </tr>    
                      <% }) %>              
                  </tbody>
                </table>
              </div>

  

    </div>

    </main>
  </body>
</html>